---
import Layout from "../layout/Layout.astro";
import Encuesta from "../components/ReactComponents/Encuesta";
import { Home, MenorQue } from "../components/icons/icons";
export const prerender = false;
import { getEntry } from "astro:content";
import HomeIndex from "../components/utilities/HomeIndex";

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("Slug is required");
}

const entry = await getEntry("posts", slug);
if (entry === undefined) {
  return Astro.redirect("/404");
}

const user = Astro.cookies.get("user");
const role = user?.value ? JSON.parse(user.value).role : null;

const publico = entry.data.publico;

const fecha = new Date(entry.data.createdAt);
const date = new Date(fecha);
const formattedDate = date.toLocaleDateString("es-ES", {
  day: "numeric",
  month: "long",
  year: "numeric",
});

if (publico !== "general") {
  if (!user) {
    console.log("No puedes ver esta página sin iniciar sesión");
    return Astro.redirect("/login");
  }

  if (role !== "ceo" && publico !== role) {
    console.log("No tienes permiso para ver esta página");
    return Astro.redirect("/login");
  }

  if (role === "ceo") {
  }
}

const { Content } = await entry.render();
/* httponly cookies */
---

<Layout title={entry.data.titulo}>
  <section class="mt-10 mx-5 sm:h-full">
    <div class="">
      <div class="2xl:px-96 xl:px-72 lg:px-48 md:px-32">
        <!-- cambiar a max-w -->
        <div class="flex items-center gap-3">
          <!-- Breadcrumb -->
          <HomeIndex
            client:visible
            slugCategoria={entry.data.slugcategoria}
            categoria={entry.data.categoria}
            titulo={entry.data.titulo}
          />
        </div>
        <!-- Header -->
        <section
          id="header"
          class="justify-between mb-10 mt-20 gap-4 items-center flex-col md:flex-row"
        >
          <h2 class="font-bold text-5xl text-secondary">
            {entry.data.titulo}
          </h2>
          <a class="ms-auto flex gap-2 font-semibold" id="enlace">
            Compartir
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5 flex"
              viewBox="0 0 24 24"
              ><path
                d="M10 3V5H5V19H19V14H21V20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V4C3 3.44772 3.44772 3 4 3H10ZM17.5858 5H13V3H21V11H19V6.41421L12 13.4142L10.5858 12L17.5858 5Z"
              ></path></svg
            >
          </a>
        </section>
        <div id="info" class="mb-20 mt-5">
          <p>Publidado el {formattedDate} by Monbak SpA.</p>
        </div>
        <!-- Content -->
        <div id="content" class="text-gray-600 leading-loose">
          <Content />
        </div>
        <Encuesta client:visible id={entry.data.id} />
      </div>
    </div>
  </section>
</Layout>
