---
import Layout from "../layout/Layout.astro";
import Showcase from "../components/astroComponents/Showcase.astro";
import CeoTools from "../components/utilities/CeoTools.jsx";
import Card from "../components/cards/Card.astro";
import categorias from "../helpers/categorias.json";

const Allposts = await Astro.glob("./posts/*.md");

export const prerender = true;
---

<Layout title="Home" content="Homepage">
  <Showcase showExtra={true} />
  <div class="container mx-auto pb-20">
    <section class="px-10 xl:px-60 mt-12">
      <CeoTools client:only />

      <div class="flex justify-between mb-10">
        <h2 class="text-secondary text-3xl">Explorar todos los temas</h2>
        <a href="temas" class="my-auto">Ver todo Version 1.0.22</a>
      </div>

      <section class="mx-auto">
        <article class="grid md:grid-cols-3 grid-cols-1 gap-10 mx-auto">
          {
            categorias
              .slice(0, 3)
              .map((post, index) => (
                <Card
                  title={post.categoria}
                  content={post.descripcion}
                  to={`/${post.slugcategoria}`}
                  tema={post.slugcategoria}
                />
              ))
          }
        </article>
        <p class="text-2xl text-secondary my-9">Populares</p>
        <article class="grid-cols-3 gap-10 md:grid hidden">
          {
            Allposts.slice(0, 6).map((post) => (
              <Card
                title={post.frontmatter.titulo}
                content={
                  post
                    .rawContent()
                    .toString()
                    .replace(/[_*]+/g, "")
                    .slice(0, 100) + "..."
                }
                to={`/${post.frontmatter.slug}`}
                tema={post.frontmatter.slugcategoria}
              />
            ))
          }
        </article>

        <article class="containerSlice space-x-10 md:hidden">
          {
            Allposts.slice(0, 6).map((post) => (
              <Card
                title={post.frontmatter.titulo}
                content={
                  post
                    .rawContent()
                    .toString()
                    .replace(/[_*]+/g, "")
                    .slice(0, 100) + "..."
                }
                to={`/${post.frontmatter.slug}`}
                tema={post.frontmatter.slugcategoria}
                inferior={true}
                class:list="item"
              />
            ))
          }
        </article>
      </section>
    </section>
  </div>
</Layout>

<style>
  .containerSlice {
    overflow-x: auto; /* Establece el desplazamiento horizontal */
    overflow-y: hidden;
    display: flex;
    scroll-snap-type: × mandatory;
    scroll-padding: 0 10px;
    scrollbar-width: thin; /* Para navegadores que soportan esta propiedad */
    scrollbar-color: transparent transparent; /* Cambia el color del scrollbar a transparente */
  }

  @media (min-width: 768px) {
    .containerSlice {
      overflow: hidden;
      display: none; /* Corrección: 'display: none;' oculta el elemento */
    }
  }

  /* Estilos del scrollbar para navegadores basados en WebKit (como Chrome o Safari) */
  .containerSlice::-webkit-scrollbar {
    width: 0; /* Ancho 0 para ocultar el scrollbar */
  }
  .containerSlice .item {
    flex-shrink: 0;
    scroll-snap-align: start;
  }
</style>
