---
export const prerender = false
import PostBasic from '../../components/astroComponents/PostBasic.astro'
import Layout from '../../layout/Layout.astro'
import { Home, MenorQue } from '../../components/icons/icons'

const searchQuery = Astro.params.search || ''
const busqueda = decodeURIComponent(searchQuery)

const AllPost = await Astro.glob('../posts/*.md')
let postsFiltered = AllPost.filter((post) => {
  if (!searchQuery) return false

  const searchTerms = searchQuery.toLowerCase().split(' ')
  const postContent = `${post.frontmatter.titulo} ${post.frontmatter.descripcion} ${post.frontmatter.tags}`.toLowerCase()

  return searchTerms.every((term) => postContent.includes(term))
})
---

<Layout>
  <div class="container mx-auto">
    <section class="px-10 xl:px-60 mt-12 pb-24 space-y-8">
      <div class="flex items-center gap-3">
        <nav class="flex mt-10" aria-label="Breadcrumb">
          <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center text-secondary hover:text-gray-400 md:ml-2 dark:text-secondary dark:hover:text-gray-400">
              <Home />
              <a href="/" class="inline-flex items-center text-sm font-medium"> Home </a>
            </li>
            <li>
              <div class="flex items-center">
                <MenorQue />
                <a href="#" class="ml-1 text-sm font-medium text-secondary hover:text-gray-400 md:ml-2 dark:text-secondary dark:hover:text-gray-400">Resultado de busqueda: {busqueda}</a>
              </div>
            </li>
          </ol>
        </nav>
      </div>

      {postsFiltered.length > 0 && postsFiltered.map((post) => <PostBasic title={post.frontmatter.titulo} description={post.frontmatter.descripcion} to={post.frontmatter.slug} />)}
      {
        postsFiltered.length == 0 && (
          <div class="flex flex-col items-center justify-center">
            <h1 class="text-3xl font-bold text-center text-gray-700 dark:text-gray-200">No se encontraron resultados</h1>
            <p class="text-center text-gray-500 dark:text-gray-400">Intenta con otra busqueda</p>
          </div>
        )
      }
    </section>
  </div>
</Layout>
